@charset "utf-8";

/* Area Select */
#selectblock{
    float:left;
    position:relative; top:0px; left:0px;
}

/* Opretion PorionLine 1 */
#opretblock01_1{
    position:relative; top:0px; left:0px;
    width:812px;
    height:40px;
    background-color:#FFFFFF;
}

/* Title */
#gamentitle{
    float:left;
    position:relative; top:18px; left:12px;
    font-size:12pt;
    color:#3382D0;
    /*background-color:#fff000;*/
}
/* Number of Pages [Type: (99/99)]*/
#numberpage{
    float:left;
    position:relative; top:19px; left:0px;
    font-size:9pt;
    color:#333;
    /*background-color:#00ffff;*/
}
#no_numberpage{
    float:left;
    position:relative; top:0px; left:0px;
}
/* Display switching */
#dispswich{
    float:left;
    position:relative; top:4px; left:47px;
    font-size:10pt;
}
#dispswichbutton{
    float:left;
    position:relative; top:0px; left:48px;
}
/* Page switching */
#pageswich{
    float:left;
    position:relative; top:18px; left:34px;
    font-size:10pt;
    /*background-color:#00ff00;*/
}
//#pagebutton{
//    float:left;
//    position:relative;
//    top:14px;
    /* left:34px; */
//}
/* Station List */
#stationlist{
    float:right;
    position:relative; top:0px; right:10px;
}
/* Confrim Check */
#confrimcheck{
    float:right;
    position:relative; top:4px; right:360px;
}
/* Station Select */
#stationselect{
    float:left;
    position:relative; top:18px; left:56px;
    font-size:10pt;
}
.stnselect {
    float:left;
    position:relative; top:12px; left:56px;
}
.stnselect > select{
    font-size:9pt;
}
#stnlist{
    float:right;
    position:relative; top:10px; right:10px;
    background-color:#0000FF;
}
/* Partition Line */
.partition1{
    position:relative; left:12px;
    width:790px;
    height:1px;
    background-color:#8CBFF2;
}

/* Line 2 */
#opretblock01_2{
    float:left;
    position:relative; top:0px; left:0px;
    width:812px;
    height:31px;
    background-color:#FFFFFF;
}
/* Display interval */
#dispinterval{
    float:left;
    position:relative; top:10px; left:12px;
    font-size:10pt;
}
#intervalbutton{
    float:left;
    position:relative; top:6px; left:12px;
}
/* CameraImage Only */
#dispintervalCamera{
    float:left;
    position:relative; top:10px; left:120px;
    font-size:10pt;
}
#intervalbuttonCamera{
    float:left;
    position:relative; top:6px; left:120px;
}
/* Time switching */
#timeswich{
    float:left;
    position:relative; top:10px; left:71px;
    font-size:10pt;
}
#timebutton{
    float:left;
    position:relative; top:6px; left:71px;
    /*background-color:#00ff0f;*/
}
/* Time of observation */
#timeobservation{
    float:left;
    position:relative; top:10px; left:80px;
    font-size:10pt;
}
#observationbutton{
    float:left;
    position:relative; top:9px; left:80px;
    font-size:12pt;
    color:#7F007F;
}
/* KikiCheck Only */
#timeobservationkiki{
    float:left;
    position:relative; top:10px; left:90px;
    font-size:10pt;
}
#observationbuttonkiki{
    float:left;
    position:relative; top:9px; left:90px;
    font-size:12pt;
    color:#7F007F;
}
/* CameraImage Only */
#timeobservationCamera{
    float:left;
    position:relative; top:10px; left:190px;
    font-size:10pt;
}
#observationbuttoncamera{
    float:left;
    position:relative; top:9px; left:190px;
    font-size:12pt;
    color:#7F007F;
}
/* Time specified */
#timeset{
    float:right;
    position:relative; top:6px; right:10px;
}
/* Partition Line */
.partition2{
    float:left;
    position:relative; top:10px; left:12px;
    width:790px;
    height:1px;
    background-color:#8CBFF2;
}

/* Map Disp Pop-up */
span.swin{
    position:absolute;
    visibility:hidden;
    z-index: 100;
}
dl,dt,dd{
    margin: 0;
    padding: 0;
}
.list{
    width: 210px;
    display: block;
    border-bottom: 1px solid #333333;
    margin: 5px;
    float: left;
    font-size:9pt;
}
.list dt, .list dd{
    padding: 3px 1px 3px 1px;
    height:12px;
}
.list dt {
    width: 45%;
    float: left;
    background-color: #FFFFFF;
    border-top: 1px solid #333333;
    border-right: 1px solid #333333;
    border-left: 1px solid #333333;
}
.list dd {
    margin-left: 45%;
    background-color: #FFFFFF;
    border-top: 1px solid #333333;
    border-right: 1px solid #333333;
}
a.dat{
    width:50%;
    text-align:right;
}
a.flg{
    width:10%;
    text-align:left;
}
a.uit{
    width:40%;
    text-align:left;
}

/* Time Set */
span.timWinPos{
    position:absolute;
    visibility:hidden;
}
#timWin{
    z-index:200;
    position:absolute;
    top:220px;
    left:350px;
    width:450px;
    height:160px;
    visibility:hidden;
    background-color: #FFFFFF;
    border-top: 1px solid #333333;
    border-right: 1px solid #333333;
    border-left: 1px solid #333333;
    border-bottom: 1px solid #333333;
}
#timeTitleArea{
    width:100%;
    height:15%;
    background-color: #0080ff;
    border-bottom: 1px solid #ffffff;
}
#timeWinTitle{
    float:left;
    position:relative; top:5px; left:5px;
    color: #ffffff;
}
#timeEditArea{
    width:100%;
    height:90%;
    float:left;
    position:relative; top:5px; left:5px;
}
#timeCom1{
    float:left;
    position:relative; top:5px; left:0px;
    color: #333333;
}
#timePeriod{
    float:left;
    position:relative; top:19px; left:20px;
    color: #0000FF;
}
#dateArea{
    float:left;
    position:relative; top:25px; left:100px;
}
#timeImpDate{
    float:left;
    position:relative; top:0px; left:5px;
}
input.timeImpDate{
    width:84px;
    height:25px;
}
#timeImpTime{
    float:left;
    position:relative; top:5px; left:25px;
    width:70px;
    height:24px;
}
#btnArea{
    width:95%;
    float:left;
    position:relative; top:40px; left:0px;
    /*background-color:#0ff;*/
}
.timeOkBtn{
    float:left;
    position:relative; top:0px; left:275px;
}
.timeClrBtn{
    float:right;
    position:relative; top:0px; right:0px;
}

/* jQuery Display image settings */
table.ui-datepicker-calendar tbody td:first-child a.ui-state-default{
    color: #F00;
}
table.ui-datepicker-calendar tbody td:last-child a.ui-state-default {
    color: #00F;
}
.ui-widget-content {
    border: 1px solid black;
    background: white;
    color: black;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    border: 1px solid white;
    background: #e0e0e0;
    font-weight: normal;
    color: black;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
    color: black;
    text-decoration: none;
}
.ui-corner-all {
    border-radius: 0;
}

/* Setting text data area */
.cdat{
    width:70%;
    float:left;
    position:relative; top:0px; left:0px;
    text-align:right;
    font-size:10pt;
}
.fre{
    width:30%;
    float:right;
    position:relative; top:0px; left:0px;
    text-align:right;
    font-size:10pt;
}
.dat{
    width:65%;
    float:left;
    position:relative; top:0px; left:0px;
    text-align:right;
    font-size:10pt;
}
.flg{
    width:15%;
    float:left;
    position:relative; top:0px; left:0px;
    text-align:right;
    font-size:10pt;
    /*background-color:#fff000;*/
}
.arr{
    width:20%;
    float:right;
    position:relative; top:0px; left:0px;
    text-align:left;
    font-size:10pt;
    /*background-color:#ff0000;*/
}
.dat2{
    width:70%;
    float:left;
    position:relative; top:0px; left:0px;
    text-align:right;
    font-size:10pt;
}
.flg2{
    width:30%;
    float:left;
    position:relative; top:0px; left:0px;
    text-align:left;
    font-size:10pt;
}
.datal{
    width:100%;
    float:left;
    position:relative; top:0px; left:0px;
    text-align:center;
    font-size:10pt;
}

/* Select Button */
.selstn{
    width:120px;
}

/* Select Box */
option.grp1{
    background-color:#e0f0fe;
}
option.grp2{
    background-color:#ffffff;
}

/* Item Button */
.selitn{
    width:150px;
}

/* Password Input Area */
#pass_base{
    width:100%;
    height:29px;
    position:relative; top:7px; left:0px;
    /*background-color:#ff0000;*/
}
#pass_sp{
    width:29.5%;
    float:left;
    position:relative; top:0px; left:0px;
}
#pass_user{
    width:25.7%;
    float:left;
    position:relative; top:0px; left:0px;
    text-align:left;
}
#pass_pass{
    width:25.5%;
    float:left;
    position:relative; top:0px; left:0px;
    text-align:left;
}
#pass_btn{
    width:19%;
    float:left;
    position:relative; top:1px; left:0px;
    text-align:left;
}
#dtupdate_btn{
    width:10%;
    float:left;
    position:relative; top:1px; left:0px;
    text-align:left;
}
#dtback_btn{
    width:9%;
    float:left;
    position:relative; top:1px; left:0px;
    text-align:left;
}
span.fco{
    color:#ff0000;
}
.view{
    visibility: visible;
    display: none;
}
/* FireFox USE: <sup>Tag */
*>/**/sup{
    vertical-align: text-top; line-height: 4px;
}
