@charset "utf-8";

#footerblock {
  float: left;
  position: relative;
  top: 4px;
  left: 0px;
  width: 1000px;
  height: 34px;
  background-color: #c6dff9;
}
#footerblock_base {
  float: left;
  position: relative;
  top: 4px;
  left: 4px;
  width: 952px;
  height: 26px;
  background-color: #ffffff;
}
.footerComment {
  float: left;
  position: relative;
  top: 7px;
  left: 80px;
  color: #333333;
}
.contactButton {
  width: 17%;
  float: left;
  position: relative;
  top: 7px;
  left: 0px;
  text-align: right;
}
